{% extends 'header.html' %}
{% block body %}
<div class=" col-md-offset-3 col-md-6">
  <div class="panel panel-primary">
    <div class='panel-heading'>
      <b>Registration</b>
    </div>
    <div class="panel-footer">
      <form class='form-horizontal' action="" method="post">
        <div class='form-group'>
          <label for='inputUsername' class='col-sm-2 control-label'>Username</label>
          <div class="col-sm-10">
            <input type='text' class='form-control' name='username' placeholder="username">
          </div>
        </div>
        <div class='form-group'>
          <label for='inputEmail' class='col-sm-2 control-label'>E-mail</label>
          <div class="col-sm-10">
            <input type='email' class='form-control' name='email' placeholder="foo@bar.com">
          </div>
        </div>
        <div class='form-group'>
          <label for='inputPasswd' class='col-sm-2 control-label'>Password</label>
          <div class="col-sm-10">
            <input type='password' class='form-control' name='passwd' placeholder="(more than 6 characters)">
          </div>
        </div>
        <div class='form-group'>
          <div class="col-sm-offset-2 col-sm-10">
            <button type='submit' class='btn btn-primary'>register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% if created %}
<div class="alert alert-success" role='alert'>
  <b><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Done!</b> You joined us!
</dix>
{% endif %}
</div>
{% endblock %}
