<!DOCTYPE html>
<html>
<head>
  <title>Workaholic {{ ver }}</title>
  <meta charset="utf-8">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.css')}}" />
  <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
</head>
<body>
  <div class='container'>
    <h1>Workaholic</h1>
    <nav class="navbar navbar-default">
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href='/'>Home</a></li>
          <li><a href='users'>Members</a></li>
          <li><a href='#'>Tasks</a></li>
        </ul>
      </div>
    </nav>
    {% block menu %} {% endblock %}
    {% block body %} {% endblock %}
  </div> <!-- container -->
</body>
</html>
