{% extends 'header.html' %}
{% block body %}
<div class="panel panel-primary">
  <div class='panel-heading'>
    <b>Members</b>
  </div>
  <div class="panel-footer">
    <table class="table">
      {% for u in users %}
      <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
